@import url(https://fonts.googleapis.com/css?family=Dosis:700);
:root {
	--dark-background: #202020;
	--operator-background: #323232;
	--equal-background: #f38064;
	--number-background: #3b3b3b;
	--dark-overlay: rgba(0, 0, 0, 0.5);
}
* {
	margin: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
body {
	background-color: #efefef;
	color: #d6ed17ff;
	display: flex;
	min-height: 100vh;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	font-family: "Dosis", Arial, Helvetica, sans-serif;
}

.container {
	width: 350px;
	padding: 12px;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
}
.display {
	text-align: right;
	font-size: 2em;
	border: solid 1px;
	border-radius: 5px;
	padding: 20px 3px;
	/* fix content exceeding display  */
	word-wrap: break-word;
	word-break: break-all;
}
.btnPanel {
	padding-top: 20px;
	grid-template-columns: 1fr;
}
.numbers {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2px;
}
.numbers button {
	border-radius: 5px;
	padding: 16px;
	font-size: 1.5em;
}

.dark-background {
	background-color: var(--dark-background);
	color: #ffffff;
}

.operator-background {
	background-color: var(--operator-background);
	color: #ffffff;
}

.operator-background:hover {
	background-color: var(--number-background);
	color: #ffffff;
}
.operator-background:active {
	background-color: #ffffff;
	color: #060708;
}
.equal-background {
	background-color: var(--equal-background);
	color: #060708;
}

.equal-background:hover {
	background-color: #da755e;
	color: #060708;
}
.equal-background:active {
	background-color: #ffffff;
	color: #060708;
}
.number-background {
	background-color: var(--number-background);
	color: #ffffff;
}
.number-background:hover {
	background-color: var(--operator-background);
	color: #ffffff;
}
.number-background:active {
	background-color: #ffffff;
	color: #060708;
}

.box-shadow {
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}
