@import url(https://fonts.googleapis.com/css?family=Dosis:700);
* {
	margin: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
body {
	background-color: #606060ff;
	color: #d6ed17ff;
	display: flex;
	min-height: 100vh;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	font-family: "Dosis", Arial, Helvetica, sans-serif;
}

.container {
	background-color: #1a212c;
	width: 600px;
}
.display {
	display: flex;
	background-color: crimson;
	font-size: 50px;
	padding: 5px 0;
	align-items: center;
	justify-content: flex-end;
}
.btnPanel {
	display: grid;
	grid-template-columns: 1fr;
	background-color: #145;
}
.numbers {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2px;
	background-color: red;
	color: #000;
}
.numbers button {
	background-color: #3b3b3b;
	color: #f7f7f7;
	border-radius: 4px;
	font-size: 2rem;
}
