@import url(https://fonts.googleapis.com/css?family=Dosis:700);
* {
	margin: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
body {
	background-color: #606060ff;
	color: #d6ed17ff;
	display: flex;
	min-height: 100vh;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	font-family: "Dosis", Arial, Helvetica, sans-serif;
}

.container {
	background-color: #000;
	display: flex;
	width: 450px;
	height: 450px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 100px;
	flex: 1;
}
.buttonPanel {
	display: flex;
	justify-content: center;
}
.numbers {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
	width: 1;
	color: #000;
}
